.c-c-c{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

}

.r-c-c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}