<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title></title>


    <link rel="stylesheet" th:href="@{/common.css}">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>
<body>

<div class="c-c-c">

    <div class="c-c-c" th:each="ele : ${cpList}" style="margin-bottom: 10px; border: 3px solid black; padding: 10px;">
        <div style="margin-bottom: 5px; border-bottom: 1px solid black;">[[${ele.nums}]]</div>

        <textarea class="cp" th:id="${ele.nums}" style="width: 100%; height: 400px;">[[${ele.content}]]</textarea>

        <div class="r-c-c">
            <button class="cp-img-btn" th:id="${ele.nums}">이미지 추가</button>

            <button style="margin-left: 20px;" class="cp-submit-btn" th:id="${ele.nums}">저장</button>
        </div>
    </div>

    <form class="c-c-c" th:each="ele : ${qList}" style="margin-bottom: 10px; border: 3px solid black; padding: 10px;">
        <div class="r-c-c">
        <input type="text" class="qnum-input" style="font-size: 25px; color: orange;" th:data-qno="${ele.qnum}" th:value="${ele.qnum}">&nbsp;:&nbsp;</input> <input type="text" class="question" th:data-qno="${ele.qnum}" style="width: 90%; height: 40px; margin-bottom: 10px; border-bottom: 2px solid black;" th:value="${ele.question}">
        </div>

        <div class="r-c-c">
            <div>1 :&nbsp;&nbsp;</div> <input type="text"  class="option-1" th:data-qno="${ele.qnum}" style="width: 90%; height: 30px; margin-bottom: 10px; border-bottom: 1px solid black;" th:value="${ele.op1}">
        </div>

        <div class="r-c-c">
            <div>2 :&nbsp;&nbsp;</div> <input type="text"  class="question-2" th:data-qno="${ele.qnum}" style="width: 90%; height: 30px; margin-bottom: 10px; border-bottom: 1px solid black;" th:value="${ele.op2}">
        </div>

        <div class="r-c-c">
            <div>3 :&nbsp;&nbsp;</div> <input type="text"  class="question-3" th:data-qno="${ele.qnum}" style="width: 90%; height: 30px; margin-bottom: 10px; border-bottom: 1px solid black;" th:value="${ele.op3}">
        </div>

        <div class="r-c-c">
            <div>4 :&nbsp;&nbsp;</div> <input type="text"  class="question-4" th:data-qno="${ele.qnum}" style="width: 90%; height: 30px; margin-bottom: 10px; border-bottom: 1px solid black;" th:value="${ele.op4}">
        </div>

        <div class="r-c-c">
            <div>5 :&nbsp;&nbsp;</div> <input type="text"  class="question-5" th:data-qno="${ele.qnum}" style="width: 90%; height: 30px; margin-bottom: 10px; border-bottom: 1px solid black;" th:value="${ele.op5}">
        </div>

        <div class="r-c-c">
            <button class="q-img-btn" th:id="${ele.qnum}">이미지 추가</button>

            <button type="button" style="margin-left: 20px;" class="q-submit-btn" th:data-id="${ele.qnum}">저장</button>
        </div>
    </form>

</div>

<!-- script -->
<script th:src="@{/common.js}"></script>
</body>
</html>